:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: Inter_Bold;
    src: url("/assets/fonts/static/Inter-Bold.ttf");
}

body{
    background-color: var(--Off-Black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 14px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--Dark-Grey);
}

img{
    border-radius: 50%;
}

h1{
    font-family: Inter;
    color: white;
}

.add_margin_in_card{
    padding: 500px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}